.inner {
  padding: 10px;
}

.button__container {
  display: flex;
  border-bottom: 1px solid #333;
}

.button-tab {
  position: relative;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 2;
  top: 1px;
}

.tab-parts {
  position: absolute;
  top: -8%;
  right: -12%;
  font-size: 12px;
}

.button-tab:hover {
  border-bottom: 2px solid #4094F9;
}

.button-tab.active {
  font-weight: bold;
  border-bottom: 3px solid #4094F9;
}

.button-tab:not(:first-of-type) {
  margin-left: 18px;
}