.inner {
  padding: 20px 20px;
}

.title__contents {
  display: flex;
  align-items: center;
  justify-content: start;
}

.titel {
  font-weight: bold;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

main {
  margin-top: 15px;
}